# Maven specific
**/target/
**/pom.xml.backup

# IntelliJ IDEA specific
**/.idea/
**/*.iml
**/*.iws

# Eclipse specific
**/.classpath
**/.project
**/.settings/

# NetBeans specific
**/nbproject/private/

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Package Files
*.jar
*.war
*.ear

# Miscellaneous
*.class  # Java class files